extends ./layout.pug

block title
	title #{title}

block content
	header
		h1 Router
		p Router의 상태를 확인 할 수 있는 화면입니다.
		p 각 Router의 MAC 주소를 선택시 상세화면이 나타납니다.
		hr
	body(onload='showMenu()', href='javascript:void(0)')
		header.w3-container.w3-xlarge
		table#example.display(cellspacing='0', width='100%')
			thead
				tr
					th MAC
					th Firmware
					th Log time
					th Up-To-Date
					th State
			tfoot
				tr
					th MAC
					th Firmware
					th Log time
					th Up-To-Date
					th State
			tbody
				- for (device in devices)
					tr
						td
							a(href='/router/' + devices[device].mac) #{devices[device].mac}
						td #{devices[device].fw.fw_ver}
						td #{devices[device].log}
						td #{devices[device].lastest}
						td #{devices[device].state}
		script.
			function showMenu() {
				var menu = document.getElementById('deviceMenu');
				menu.className += " w3-show";
				
			}
