extends ./layout.pug

block title
	title #{title}

block content
	header
		h1 AP Setting
		p AP의 펌웨어를 등록할 수 있습니다.
		p 모든 AP의 설정값을 수정할 수 있습니다.
		hr
	body(onload='showMenu()', href='javascript:void(0')
		form(action='setting/upload' method='post' enctype='multipart/form-data')
			fieldset
				legend AP 펌웨어 등록
				input(type='file' name='ap_firmware')
				input(type='submit' name='Upload')
				|  현재버전:
				|  #{device.fw.fw_ver}
		br
		form(action='setting/update' method='post')
			fieldset
				legend AP 설정 정보
				table
					tr
						td 동작 모드:
						td
							input#bridge(type='radio', name='op_mode', value='0')
							|	Bridge 
							input#nat(type='radio', name='op_mode', value='1')
							|	NAT
					tr
						td 네트워크(SSID):
						td
							input(type='text', name='ssid', value=device.config.ssid)
					tr
						td 암호:
						td
							input(type='text', name='password', value=device.config.password)
					tr
						td 숨김:
						td
							input#hidden(type='text', name='hidden', value=device.config.hidden)
					tr
						td 모드:
						td
							input(type='text', name='mode', value=device.config.mode)
					tr
						td bandwidth:
						td
							input(type='text', name='bandwidth', value=device.config.bandwidth)
					tr
						td 채널:
						td
							input(type='text', name='channel', value=device.config.channel)
					tr
						td power:
						td
							input(type='text', name='power', value=device.config.power)
					tr
						td PVS 접근 주기:
						td
							input(type='text', name='pvs_period', value=device.config.pvs_period)
				br
				input(type='submit', value='적용')

		script.
			function showMenu() {
				var menu = document.getElementById('settingMenu');
				menu.className += " w3-show";
				checkMode();
			}

			function checkMode() {
				value = "#{device.config.op_mode}";
				if(value == '1') {
					var nat = document.getElementById('nat');
					nat.checked = true;
				} else {
					var bridge = document.getElementById('bridge');
					bridge.checked = true;
				}
			}
